.fullWidth {
	width:750px;
	height:600px;
}
body {
	/*overflow: hidden;*/
	width:750px !important;
	height:600px !important;
}

.overview tr td {
	border: 1px solid;
	border-color: #DDDDDD !important;
}

.overview tr th {
	border: 1px solid;
	border-color: #DDDDDD !important;
}